.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(135deg, #000428, #004e92);
  min-height: 100vh;
}

.contact-form {
  width: 100%;
  max-width: 800px; /* Increase the max-width to make the form box bigger */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px; /* Increase padding for a larger form box */
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  animation: slideInUp 1s ease-in-out;
}

.title{
  color: white;
}

.input-box {
  width: 100%;
  margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px; /* Increase padding for larger input boxes */
  border: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  font-size: 18px; /* Increase font size for larger input boxes */
}

.input-box input::placeholder,
.input-box textarea::placeholder {
  color: #666;
}

.input-box textarea {
  resize: none;
  height: 150px; /* Increase height for larger textarea */
}

.form-button {
  width: 100%;
  padding: 15px 20px; /* Increase padding for larger button */
  border: none;
  border-radius: 25px;
  background-color: #007bff;
  color: white;
  font-size: 18px; /* Increase font size for larger button */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.thank-you-message {
  text-align: center;
  color: #fff;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}