@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('../src/assets/pic4.jpg') no-repeat;
  background-size: cover;
  background-position: absolute;
}

login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #506185;
}